@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@{
    if (User.IsInRole("Admin"))
    {
        <h1>Yay You are ADMIN</h1>
    }
    else if (User.IsInRole("Manager"))
    {
        <h1>Login AS Manager</h1>
    }
    else
    {
        <h1>Login As User</h1>
    }
}
